.card img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}

button{
	font-size: 20px;
	text-transform: capitalize;
	border: none;
	background-color: blueviolet;
	color: aliceblue;
	padding: 10px;
	border-radius: 5px;
	position: fixed;
	bottom: 10px;
	cursor: pointer;
}